@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Body Styles */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    font-family: "Poppins", sans-serif;
  }
  
  /* Heading Styles */
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 0.8rem;
  }
  
  h3 {
    font-size: 1.8rem;
    margin-bottom: 0.6rem;
  }
  
  h4 {
    font-size: 1.5rem;
    margin-bottom: 0.4rem;
  }
  
  h5 {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }
  
  h6 {
    font-size: 1rem;
    margin-bottom: 0.2rem;
  }
  
  /* Paragraph Styles */
  p {
    margin-bottom: 1rem;
  }
  
  /* Anchor Styles */
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  
  /* Responsive Styles */
  @media only screen and (max-width: 768px) {
    /* Adjust font sizes for smaller screens */
    body {
      font-size: 14px;
    }
    
    h1 {
      font-size: 2rem;
    }
    
    h2 {
      font-size: 1.8rem;
    }
    
    /* Add more media queries and adjust styles as needed */
  }
  
  @media only screen and (min-width: 1200px) {
    /* Adjust font sizes for larger screens */
    body {
      font-size: 16px;
    }
    
    h1 {
      font-size: 3rem;
    }
    
    h2 {
      font-size: 2.2rem;
    }
    
    /* Add more media queries and adjust styles as needed */
  }
  